/* Variables */

:root {
    /* HEADER */

    /* Header Background*/
    --header-background: rgb(235, 235, 235);

    /* Header Icon */
    --header-icon-background: rgb(235, 235, 235);
    --header-icon-color: rgb(25, 25, 25);
    --header-icon-hover-background: rgb(205, 205, 205);
    --header-icon-hover-color: rgb(255, 100, 5);

    /* FOOTER */

    /* Footer Backgrounds */
    --footer-main-background: rgb(255, 255, 255);
    --footer-notice-background: rgb(235, 235, 235);

    /* Footer Text Title */
    --footer-text-title-font-family: "Poppins", sans-serif;
    --footer-text-title-font-weight: 700;
    --footer-text-title-font-size: 30px;
    --footer-text-title-color: rgb(25, 25, 25);

    /* Footer Text Content */
    --footer-text-content-font-family: "Poppins", sans-serif;
    --footer-text-content-font-weight: 400;
    --footer-text-content-font-size: 15px;
    --footer-text-content-color: rgb(25, 25, 25);

    /* Footer Text Menu */
    --footer-text-menu-font-family: "Poppins", sans-serif;
    --footer-text-menu-font-weight: 400;
    --footer-text-menu-font-size: 15px;
    --footer-text-menu-color: rgb(25, 25, 25);
    --footer-text-menu-hover-color: rgb(255, 100, 5);

    /* Footer Text Notice */
    --footer-text-notice-font-family: "Poppins", sans-serif;
    --footer-text-notice-font-weight: 400;
    --footer-text-notice-font-size: 15px;
    --footer-text-notice-color: rgb(25, 25, 25);
}

/* Base */

body {
    overflow: auto;
    margin: 0px;
}

/* Header */

header {
    padding: 5px;
    background: var(--header-background);
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.header-container-item {
    min-width: 2.5rem;
}

.header-icon {
    background: var(--header-icon-background);
    fill: var(--header-icon-color);
    border-radius: 25%;
    margin: 5px;
    padding: 5px;
    height: 25px;
    width: 25px;
}

.header-icon:hover {
    background: var(--header-icon-hover-background);
    fill: var(--header-icon-hover-color);
    transition: 0.25s;
}

/* Navigation */

nav {
    position: sticky;
    top: 0;
    background: blue;
    height: 100px;
}

/* Section One */

#section-one {
    background: orange;
    height: 500px;
}

/* Section Two */

#section-two {
    background: green;
    height: 500px;
}

/* Section Three */

#section-three {
    background: purple;
    height: 500px;
}

/* Footer */

.footer-main {
    padding: 15px;
    background: var(--footer-main-background);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-main-item {
    padding: 15px;
    min-width: 25rem;
    max-width: 20rem;
}

@media only screen and (max-width: 768px) {
    .footer-main-item {
        min-width: 20rem;
        max-width: 25rem; 
    }
}

@media only screen and (max-width: 425px) {
    .footer-main-item {
        min-width: 15rem;
        max-width: 30rem;
    }
}

.footer-text-title {
    padding: 10px;
    font-family: var(--footer-text-title-font-family);
    font-weight: var(--footer-text-title-font-weight);
    font-size: var(--footer-text-title-font-size);
    color: var(--footer-text-title-color);
    letter-spacing: 5px;
    text-align: center;
}

.footer-text-content {
    font-family: var(--footer-text-content-font-family);
    font-weight: var(--footer-text-content-font-weight);
    font-size: var(--footer-text-content-font-size);
    color: var(--footer-text-content-color);
    text-align: justify;
}

.footer-text-menu {
    font-family: var(--footer-text-menu-font-family);
    font-weight: var(--footer-text-menu-font-weight);
    font-size: var(--footer-text-menu-font-size);
    color: var(--footer-text-menu-color);
    text-align: center;
}

.footer-text-menu:hover {
    transition: 0.25s;
    color: var(--footer-text-menu-hover-color);
}

.footer-menu {
    padding: 0px;
    list-style-type: none;
}

.footer-menu-hyperlink {
    text-decoration: none;
}

.footer-notice {
    padding: 5px;
    background: var(--footer-notice-background);
}

.footer-text-notice {
    font-family: var(--footer-text-notice-font-family);
    font-weight: var(--footer-text-notice-font-weight);
    font-size: var(--footer-text-notice-font-size);
    color: var(--footer-text-notice-color);
    text-align: center;
}
